body{
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    font-size: 12px;
    }

#main{
    width: 100%;
}

#header{
    width: 100%;
    height:155px;
    background-image: url('../image/header_bg.jpg');
    background-repeat: repeat-x;
}
#menu1{
    width: 100%;
    height:35px;
    background-image: url('../image/menu1_bg.jpg');
    background-repeat: repeat-x;
}
#menu2{
    width: 100%;
    height:36px;
    background-image: url('../image/menu2_bg.jpg');
    background-repeat: repeat-x;
}
#menu3{
    width: 100%;
    height:72px;
    background-image: url('../image/menu_bg.jpg');
    background-repeat: repeat-x;
}
#content {
    position: absolute;
    left: 270px;
    top: 298px;
    padding: 15px;
}
#footer {
    clear: both;
    width: 100%;
    height: 28px;
    background-image: url("../image/footer.jpg");
    background-repeat: repeat-x;
    text-align: center;
    padding-top: 5px;
}